/* cyrillic-ext */
@font-face {
  font-family: 'Raleway';
  font-display: swap;
  src: url(/fonts/Raleway-Italic-VariableFont_wght.ttf) format('tttf');
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  src: url(/fonts/Raleway-VariableFont_wght.ttf) format('tttf');
}

@font-face {
  font-family: 'Bollent';
  font-display: swap;
  src: url(/fonts/Bollent.otf) format('otf');
}