@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
*::-webkit-scrollbar {
    width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: #555;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #121e39;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #555;
}


@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    .animation-delay-4000 {
        animation-delay: 4s;
    }
}

@keyframes scale {
    from, to {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

.magic-star {
    --size: clamp(20px, 1.5vw, 30px);

    animation: scale 700ms ease forwards;
    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);
}

.magic-star > svg {
    animation: rotate 1000ms linear infinite;
    display: block;
    opacity: 0.7;
}

h1 > .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
            to right,
            var(--purple),
            var(--violet),
            var(--pink),
            var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

h1 > .letterize-text > span {
    display: inline-block;
}

header nav ul li {
    font-family: 'Bollent', serif;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

.anim, .anim svg {
    position: relative;
    width: 100%;
    height: 100%;
}
.anim path {
    stroke-width: 2;
}


.animation-wrapper {
    width: 50%;
    padding-bottom: 50%;
}

.sphere-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 580px;
    height: 580px;
    margin: -290px 0 0 -290px;
}

.sphere path {
    fill: url(#sphereGradient);
    stroke-width: 1px;
    stroke: rgba(80,80,80,.35);
    backface-visibility: hidden;
}

@media (min-width: 500px) {
    .sphere path {
        stroke-width: .4px;
    }
}