---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import Range from "../shared/Range.astro";

const features = {
    title:"Who we are and why should you want to choose us?",
    content: "We are a leading outsourcing company committed to empowering other businesses. We offer great results, with a committed team of specialists, by uniting strategic thinking, cutting-edge technology and innovative design. Our customer-centric strategy, along with a strong emphasis on ethics and integrity, has made us a reliable partner for companies looking to strengthen their brand presence, engage their target audience, and achieve quantifiable success.",
    video: "/videos/hockey.mp4"

}
---

<section class="flex z-10" id="features">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <Title>
                {features.title}
            </Title>
            <Paragraph className="mt-8">
                {features.content}
            </Paragraph>
        </div>

        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0  lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
            <div class="w-full sm:h-96 midmd:h-full relative">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                <div class="absolute  p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"></div>
                
                <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"></span>
                <div class="video-wrapper">
                    <video src={features.video} style="background-color: white; position: relative;" class="z-10 relarive w-full h-full" autoplay loop muted playsinline >
                    </video>
                </div>
            </div>
        </div>
    </Container>

    <style>
        .video-wrapper video{
            transform: scale(1.1);
        }
        @media (max-width: 768px) {
            .video-wrapper video{
                transform: scale(1) translate(0px, 0px);
            }
        }
    </style>
</section>