---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import AboutUs from '../components/sections/AboutUs.astro';
import Features from '../components/sections/Features.astro';
import CTA from '../components/sections/CTA.astro';
import Brands from '../components/sections/Brands.astro';
import AboutUs2 from "../components/sections/AboutUs2.astro";
import Slides from "../components/sections/Slides.astro";
import Carousel from "../components/sections/Carousel.astro";
import Features2 from "../components/sections/Features2.astro";
---

<Layout title="SEO And Marketing">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<Hero/>
		<!--<Brands/>-->
		<Services/>
		<AboutUs/>
		<Features/>
        <AboutUs2/>
        <Features2/>
        <Slides/>
        <CTA/>
		<Carousel/>
	</main>
</Layout>