---
import BtnLink from "../shared/BtnLink.astro";
import Container from "../shared/Container.astro";
import  Navitem from "../shared/Navitem.astro";

const navItems = [
    {
        href:"#",
        text:"Home"
    },
    {
        href:"#services",
        text:"Services"
    },
    {
        href:"#about-us",
        text:"About us"
    },
    {
        href:"#features",
        text:"Features"
    },
]
---

<header class=" inset-x-0 top-0 z-50 py-2 bg-black fixed">
    <Container>
        <nav class="w-full flex justify-between gap-6 relative">
            <!-- logo -->
            <div class="min-w-max inline-flex relative">
                <a href="/" class="relative flex items-center gap-3">
                    <div style="width: 2rem" class="relative h-full overflow-hidden flex rounded-xl">
                        <img src="/logos/logo.svg" alt="Vortexize logo">
                    </div>
                    <div style="width: 11rem" class=" h-full inline-flex text-lg font-semibold text-heading-1">
                        <img src="/logos/vortexize2.svg" alt="Vortexize logo">
                    </div>
                </a>
            </div>

            <div data-nav-overlay aria-hidden="true" class="fixed hidden inset-0 lg:!hidden bg-box-bg bg-opacity-50 backdrop-filter backdrop-blur-xl"></div>
            <div data-navbar class="flex h-0 overflow-hidden lg:!h-auto duration-300 ease-linear flex-col gap-y-6 gap-x-4 lg:flex-row w-full lg:justify-end lg:items-center absolute lg:relative top-full lg:top-0 bg-body lg:bg-transparent border-x border-x-box-border lg:border-x-0">
                <ul class="border-t border-box-border lg:border-t-0 px-6 lg:px-0 pt-6 lg:pt-0 flex flex-col lg:flex-row gap-y-4 gap-x-3 text-lg text-heading-2 lg:justify-center lg:items-center">
                    {navItems.map(item=>{
                        return <Navitem {...item}/>
                    })
                    }
                </ul>

            </div>
        </nav>
    </Container>
</header>